* {
    margin: 0;
    list-style: none;
    color: gray;
    text-decoration: none;
}

/* inicio parte Lais */
header p {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 1%;
    z-index: 1;
    text-align: center;
    color: black;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    background-color: white;

}






.linha {
    width: 100%;
    overflow: hidden;
    margin: 1.625em 0;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    height: 2.875em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.products {
    text-align: center;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.4;


}

.products h1 {
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    font-size: 14.4px;
    color: #808080;
    padding: 3% 0 3% 0;
}

.grid-container, .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 100px 20px; */
}
/* 
.grid-item {
    
    border: 1px solid rgba(0, 0, 0, 0.8);
} */

.grid-item img {
    width: 100%;
    justify-items: center;
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
}

.flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
    position: relative;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

.back{
	transform: rotateY(180deg);
}


.titulo-catalogo {
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    color: gray;
    margin: 20% 6% 3% 6%;
}

.catalogo {
    display: flex;
    opacity: 80%;
    align-items: center;
    justify-content: center;
}

.img-catalogo{
    position: absolute;
}

.texto {
    position: relative;
    font-size: 22px;
    font-family: "Practice Display", "Times New Roman", Times, serif;
    color: black;
}

.imagem-catalogo {
    width: 40%;
}

/* formulario */
#formulario {
    margin: 10% 0 0 0;
    text-align: center;
    color: rgb(73, 73, 73);
}

#formulario h1 {
    font-size: 48px;
}


input,textarea {
    width: 30%;
    padding: 5px 0 5px 0;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 2px;
    background-color: lightgrey;
    color: black;
}

#enviar {
    width: 10%;
    padding: 5px 10px 5px 5px;
    margin: 8px 0;
}

/* fim parte Lais */

/* inicio parte Diego */

.video-titulo {
    margin: 10% 6% 3% 6%;
    text-align: center;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.4;
    color: gray;
}

.homepage-brand.video .video-link {
    display: block;
    width: 100%;
    line-height: 0;
    margin-top: 6%;

}

.homepage-designers-projects-list {
    margin-top: 6%;
}

.visible {
    pointer-events: painted;
}

body {
    line-height: 1;
}

::-webkit-scrollbar {
    display: none;
}

#velha img {
    width: 40%;
}

#projetovelha img {
    width: 40%;
}

#velho img {
    width: 40%;
}

#projetovelho img {
    width: 40%;
}

.content-container {
    display: flex;
}

footer#bottom {
    margin-top: 11em;
    width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.social ul {
    width: 100%;
    height: 100%;
    display: flex;
}

.social li {
    width: 100%;
    height: 100%;
    list-style: none;

}

.logo {
    width: 10%;
}

.container-top {
    justify-content: center;
    display: flex;
    padding: 15px 15px 15px 15px;
    justify-content: space-evenly;
    margin-top: 0;
}

#video {
    /* padding: 0; */
    margin: -9px;
    width: 102%;
}


/* fim parte Diego */